.home-saiba-mais {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-content: center;
  text-decoration: none;
}

.home-saiba-mais:hover {
  background-color: #45a049;
}

.home-info h2{ 
  text-align: justify;
	display:flex;
	color:#000000;
	font-size:18px;
  margin-left: 10%;
  margin-right: 8%;
  margin-top: 15%;
  margin-bottom: 15%;
	text-decoration:none;
  line-height: 200%;
  font-weight: normal;
  
}

.home-info {
  height:     100%;
  width:      100%;
  
  display:flex;
}

.description {
  max-width: 100%;
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  
  text-align: justify;
}

.description p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.home-text{
  height:     100%;
  width:      100%;

 
}

.home-image {
  height:     50%;
  width:      50%;
  align-self: right;
}

.ga4-image {
  margin-top: 20%;
  max-width: fit-content;
  max-height: fit-content;
}
        
.add-to-cart {
  margin-top: 2%;
  height:     100%;
  width:      100%;
 
  text-align: center;
  
}

.div-button {
  text-align: center;

}

.home {
  height:     150%;
  width:      100%;
  
  display:absolute;
}
